*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    margin-top: 20px;
    height: 50px;
    display: flex;
    background-color: #03A9F4;
}
#navbar > div{
    width: 100%;
    /* border: 1px solid; */
    height: 100%;
}
#navbar > div img{
    width: 70%;
    height: 45%;
    cursor: pointer;
}
#navbar #first-menu{
    flex: 1.2;
    display: flex;
    align-items: center;
    padding-left: 22px;
}
#navbar #second-menu{
    display: flex;
    flex: 4;
    /* padding-top: 15px; */

}
 #navbar #second-menu .nav-links > a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    line-height: 55px;
}

#second-menu .nav-links #drop-menu{
    margin-top: -6px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    line-height: 45px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links .drop-menu1, .drop-menu4, .drop-menu5{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.nav-links .drop-menu2, .drop-menu7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nav-links .drop-menu3, .drop-menu6{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#second-menu #drop-menu a{
    padding-left: 15px;
    text-decoration: none;
    color: black;
    padding-right: 80px;
}
#second-menu #drop-menu div:hover{
    background-color: aqua;
    /* width: 100%; */
}
#second-menu .nav-links:hover #drop-menu{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    background-color: white;
}
#navbar #third-menu{
    display: flex;
    align-items: center;
    flex: 3.5;
    justify-content: space-evenly;
}
#navbar #third-menu img{
    width:25px;
    height: 25px;
    margin-right: 10px;
}
#navbar #third-menu a{
    text-decoration: none;
    color: white;
}
#navbar #third-menu > div{
    display: flex;
    align-items: center;
}
