*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

#heading{
    margin-left: 40px;
    margin-top: 20px;
}

#container{
    /* border:1px solid red; */
    width: 75%;
    margin-left: 20px;
}

#tabs{
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    list-style: none;
    font-size: 18px;
    font-weight: bolder;
}

#tabContainer{
    margin-bottom: 20px;
}

#tabs li{
    padding: 15px 37px;

    /* border-bottom:1px  solid rgb(204, 194, 194) */
}
#tabs li:hover{
    color: #43aed0;
    cursor: pointer;
}
#second-tab{
    /* border:1px solid red; */
    padding: 15px 80px;
    border-left: 1px solid rgb(204, 194, 194);
    border-right: 1px solid rgb(204, 194, 194);
}

.class1{
    color: #43aed0;
}

.class2{
    color: black;
}

.showDiv{
    display: flex;
}

.hideDiv{
    display: none;
}



#firstLeft,#thirdLeft{
    width: 50%;
    border-right:1px solid rgb(204, 194, 194);
}

#firstLeft, #firstRight,#thirdLeft,#thirdRight{
    padding: 0px 20px ;
}

#firstLeft>* , #firstRight>*,#thirdLeft>*,#thirdRight>* {
    margin: 10px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: #459fc9;
}

#inside2ndDiv > *{
    margin: 10px;
    padding: 5px;
}

