*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#slide{
    height: 210px;
}
#slide #first-part{
    padding-left: 2%;
    background-color: #0398DC;
    display: flex;
    height: 20%;
    align-items: center;
    color: white;
}
#slide #first-part div{
    padding: 0 8px;
    cursor: pointer;
}
#slide #second-part{
    background-color: #0398DC;
    display: flex;
    height: 80%;
    gap: 20px;
    padding-left: 11%;
    padding-bottom: 20px;
    
}
#slide #second-part .update{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 0px 0px;
    border-radius: 10px;
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    cursor: pointer;
}
#slide #second-part .update h4{
    padding-left: 50px;
}
#slide #second-part .update p{
    font-size: 14px;
}
#slide #second-part .update span{
    margin-right: 20px;
}